.footer {
    background-color: grey;
    border-top:2px solid black;
    position: fixed;
    width: 100%;
    bottom: 0;
    color: white;
}
.contact{
    font-size: 30px;
    margin-left: 50px;
    text-align: left;
}
.cont{
    
    margin-left: 60px;
    text-align: left;
}